{% extends "layout.html" %}
{% block content %}
  {% if session.logged_in %}
    <form action="{{ url_for('oblige') }}" method=post>
      <dl>
        <dt>Title:
        <dd><input class='form-control' type=text size=30 name=title>
        <dt>Text:
        <dd><textarea class='form-control' name=body rows=5 cols=40></textarea>
        <dt>Signee:
                <label>First Signee:</label> <input class='form-control' type="text" name="user_1" required>
        
                <label>Second Signee:</label> <input class='form-control' type="text" name="user_2" required>
        <select name="what" class="form-control">
          {% for user in users %}
          <option value="{{ user.username }}" >{{ user.username }}</option>
          {% else %}
          Unbelievable.  No users here so far
          {% endfor %}
        </select>
        <dt>Signee:
        <select name="who" class="form-control">
          {% for user in users %}
          <option value="{{ user.username }}" >{{ user.username }}</option>
          {% else %}
          Unbelievable.  No users here so far
          {% endfor %}
        </select>
        <dd><input class='form-control' name=end_date size=10>
        <dd><input type=submit value=submit>
      </dl>
    </form>
  {% endif %}
{% endblock %}
